.container-calculadora
		{
			border: 1px solid black;
			height: 500px;
			width: 300px;
			border-radius: 5px;
			box-shadow: 0 0 1em black;
			padding: 5px;
			background-color: rgb(131, 131, 131);

		}

		.container-tela{
			
			border: 1px solid rgb(102, 101, 101);
			height: 148px;			
			margin-left: 3px;
			background-color: rgb(255, 255, 255);
			
		}

		.container-numero
		{
			border: 1px solid rgb(155, 155, 155);
			height: 330px;
			width: 286px;
			margin-left: 4px;
			margin-top: 10px;
			display: grid;
			grid-template-columns: auto auto auto auto;
			grid-gap: 2px;
			padding: 2px;
			background-color: white;
		}

		.tecla
		{
			border: 1px solid rgb(155, 155, 155);
			text-align: center;	
			
			
		}
		.tecla:hover
		{
			background: #e6ffff;
			transition-duration: 0.5s;
			font-weight:bold;

		}
		
		.result{
			font-size: 40px;
			font-family: 'Stalinist One', cursive;
			margin-top: 90px;
			margin-right: 5px;
			text-align: right;
			text-shadow: 5px 2px 10px black;	
		}

		.hist
		{
			font-family: 'Stalinist One', cursive;
			margin-top: 5px;
			margin-right: 5px;
			text-align: right;
			height: 0;
			text-shadow: 2px 2px 10px black;
		
		}
		.c{
			background-color: rgb(111, 111, 240);
			color: #e6ffff;
			font-weight: bold;
			cursor: pointer;

		}
		.c:hover
		{
			background-color: rgb(89, 89, 190);
			
		}